@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <p class="display-4" style="font-size:30px;font-weight:bold;">Top Rated Movies From IMDb</p>
    </div>
    <div class="col-md-8">
        <form method="post">
            <div class="form-group">
                <input asp-for="@Model.IMDBId" type="text" />
                <button class="col-md-6 btn-primary" type="submit" asp-action="Index" style="font-size:15px;">Display your Moive With IMDb Id</button>
            </div>
        </form>
    </div>
</div>
<br>
<div class="row">
    @foreach (var Movie in Model.MovieList)
    {
        <div class="col-md-3">
            <div class="card" style=" margin-top: 20px">
                <div class="card-header">
                    <img src="@Movie.Image" class="card-img-top" width="200" />
                </div>
                <div class="card-body">
                    <h3>@Movie.Title</h3>
                    <a class="btn btn-success" data-bs-toggle="collapse" href="#@Movie.IMDBId" role="button" aria-expanded="false" aria-controls="description">
                        Description
                    </a>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="collapse" id="@Movie.IMDBId">
                            <div class="card card-body">
                                <p class="card-text">@Movie.Description</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    }
</div>
